{% extends "common/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "styles/posts/post-section.css" %}" class="css">
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}


{% block content %}
  {% include "accounts/../common/search-form.html" %}

  <section class="post-section">
    {% for post in post_list %}
      {% include "posts/post-card.html" %}
    {% empty %}
      {% include "common/no-results-card.html" %}
    {% endfor %}
  </section>
  
{% endblock %}
