{% extends "common/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "styles/accounts/search-parent.css" %}" class="css">
{% endblock %}

{% block title %}
	Потърси родители
{% endblock %}


{% block content %}
  {% include "accounts/../common/search-form.html" %}

  <section class="parent-user-section">
    {% for parent in parents %}
    	{% include "accounts/parent-card.html" %}
    {% empty %}
      {% include "common/no-results-card.html" %}
    {% endfor %}

  </section>
{% endblock %}
