{% extends "common/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "styles/accounts/search-parent.css" %}" class="css">
{% endblock %}

{% block title %}
	Потърси родители
{% endblock %}


{% block content %}
  {% include "accounts/search-form.html" %}

  <section class="parent-user-section">
    {% for parent in parents %}
    	{% include "accounts/parent-card.html" %}
    {% empty %}
      <article class="no-results-found">
        <img class="no-results-img" src="{% static "images/no-result-image.svg" %}" alt="никакъв резултат">

        <h2 class="no-results-title">Не намерихме резултат за "{{ query }}"</h2>
        <p class="no-results-subtitle">Опитайте да съкратите или преформулирате търсенето си</p>
      </article>
    {% endfor %}

  </section>
{% endblock %}
