@import "post-card.css";
@import "../common/search-form.css";
@import "../common/no-result-card.css";

.posts-heading {
  margin: 1rem auto;
  text-align: center;
  font-size: 3.3rem;
  color: #5A3E2B;
  border-bottom: 1px solid #5A3E2B;
  width: 45%;
}

.post-section {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}


@media screen and (max-width: 407px) {
  .posts-heading {
    width: 65%;
  }
}