:root {
  --dark-post-color: #2F3A42;
}

.post {
  width: 40%;
  background-color: #E0D8C9;
  border-radius: 4%;
}

.post .post-title {
  font-size: 1.4rem;
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #4B3A28;
}

.post-title,
.post-info {
  margin: 1rem 0.7rem;
}

.post .post-image {
  width: 100%;
  height: auto;
}

.post-description {
  font-size: 1.1rem;
}

.posted-on {
  margin-top: 0.8rem;
  padding-top: 0.3rem;
  color: var(--dark-post-color);
  border-top: 1px solid var(--dark-post-color);
}

@media screen and (max-width: 768px) {
  .post {
    width: 60%;
  }
}

@media screen and (max-width: 419px) {
  .post {
    width: 80%;
  }
}

@media screen and (max-width: 359px) {
  .post {
    width: 90%;
  }
}