@import "parent-card.css";
@import "search-form.css";

.parent-user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
}

.parent-user-section .no-results-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.parent-user-section .no-results-found .no-results-img{
  width: 30%;
}

.parent-user-section .no-results-found .no-results-title{
  font-size: 1.5rem;
  font-weight: 600;
}

