@import "parent-card.css";
@import "../common/search-form.css";
@import "../common/no-result-card.css";

.parent-user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
}


