<footer>
  <div class="rights-reserved-text">
    <h2>Miss Deni</h2>
    <p>All rights reserved, 2025</p>
  </div>
  <div class="links">
    <ul>
      <li><a href="">Начало</a></li>
      <li><a href="">За Miss Deni</a></li>
      <li><a href="">Галерия</a></li>
      <li><a href="">Видеа</a></li>
      <li><a href="">Контакти</a></li>
    </ul>
  </div>
  <div class="social-media-links">
    <p>Вижте ни също в:</p>
    <a class="instagram-icon" href="https://www.instagram.com/ms.stefd/" target="_blank">
      <i class="fab fa-instagram fa-lg"></i>
    </a>
    <a class="facebook-icon" href="" target="_blank">
      <i class="fab fa-facebook fa-lg"></i>
    </a>
  </div>
</footer>