<footer class="footer-content">
  <div class="rights-reserved-column footer-item">
    <h2 class="footer-author">Miss Deni</h2>
    <p class="rights-reserved-p">All rights reserved, 2025</p>
  </div>

  <hr class="footer-divider">

  <div class="links-column footer-item">
    <ul class="links">
      <li class="item"><a class="link" href="">Начало</a></li>
      <li class="item"><a class="link" href="">За Miss Deni</a></li>
      <li class="item"><a class="link" href="">Галерия</a></li>
      <li class="item"><a class="link" href="">Видеа</a></li>
      <li class="item"><a class="link" href="">Контакти</a></li>
    </ul>
  </div>

  <hr class="footer-divider">

  <div class="social-media-links footer-item">
    <p class="see-also-p">Вижте ни също в:</p>
    <a class="social-link" href="https://www.instagram.com/ms.stefd/" target="_blank">
      <i class="fab fa-instagram fa-lg icon"></i>
    </a>
    <a class="social-link" href="#" target="_blank">
      <i class="fab fa-facebook fa-lg icon"></i>
    </a>
  </div>
</footer>