<footer class="footer-content">
  <div class="rights-reserved-column footer-item">
    <h2 class="footer-author">Miss Deni</h2>
    <p class="rights-reserved-p">All rights reserved, 2025</p>
  </div>

  <hr class="footer-divider">

  <div class="links-column footer-item">
    <div class="links">
      <div class="column">
        <p class="item"><a class="link" href="{% url "index" %}">Начало</a></p>
        <p class="item"><a class="link" href="{% url "about" %}">За Miss Deni</a></p>
        <p class="item"><a class="link" href="{% url "news" %}">Новини</a></p>
      </div>
      <div class="column">
        <p class="item"><a class="link" href="#">Галерия</a></p>
        <p class="item"><a class="link" href="#">Видеа</a></p>
        <p class="item"><a class="link" href="{% url "contact" %}">Контакти</a></p>
      </div>
    </div>
  </div>

  <hr class="footer-divider">

  <div class="social-media-links footer-item">
    <p class="see-also-p">Вижте ни също в:</p>
    <a class="social-link" href="https://www.instagram.com/ms.stefd/" target="_blank">
      <i class="fab fa-instagram fa-lg icon"></i>
    </a>
    <a class="social-link" href="https://www.facebook.com/profile.php?id=100085079975834&locale=it_IT" target="_blank">
      <i class="fab fa-facebook fa-lg icon"></i>
    </a>
  </div>
</footer>