{% load static %}

<nav class="navbar">
  <div class="content">
    <a class="item logo" href="{% url "index" %}"><img class="logo" src="{% static "images/logo/logo.png" %}" alt="logo"></a>

    <button class="menu-button">
      <i class="fas fa-bars icon"></i>
    </button>

    <ul class="links">
      <li class="item"><a class="link" href="{% url "about" %}">Зa Miss Deni</a></li>
      <li class="item"><a class="link" href="{% url "news" %}">Новини</a></li>
      <li class="item"><a class="link" href="{% url "posts" %}">Публикация</a></li>
      <li class="item"><a class="link" href="#">Галерия</a></li>
      <li class="item"><a class="link" href="{% url "contact" %}">Контакти</a></li>
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
          <li class="item">
            <a class="link" href="#">Учител</a>
            <ul class="dropdown">
              <li class="dropdown-item"><a href="{% url "add-post" %}" class="dropdown-link">Нова Публикация</a></li>
              <li class="dropdown-item"><a href="{% url "search-parents" %}" class="dropdown-link">Потърси родител</a></li>
            </ul>
          </li>
        {% else %}
          <li class="item"><a class="link" href="#">Родител</a></li>
        {% endif %}
        <li class="item"><a
                href="{% url "logout" %}"
                class="link"
                onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            Излез
                 </a>
        </li>
      {% else %}
        <li class="item"><a class="link" href="{% url "login" %}">Вход</a></li>
      {% endif %}
    </ul>
  </div>

</nav>

<form id="logout-form" method="post" action="{% url "logout" %}">
  {% csrf_token %}
</form>
