{% load static %}

<nav class="navbar">
  <div class="content">
    <a class="item logo" href="{% url "index" %}"><img class="logo" src="{% static "images/logo/logo.png" %}" alt="logo"></a>

    <button class="menu-button">
      <i class="fas fa-bars icon"></i>
    </button>

    <ul class="links">
      <li class="item"><a class="link" href="{% url "about" %}">Зa Miss Deni</a></li>
      <li class="item"><a class="link" href="{% url "news" %}">Новини</a></li>
      <li class="item"><a class="link" href="#">Галерия</a></li>
      <li class="item"><a class="link" href="#">Видеа</a></li>
      <li class="item"><a class="link" href="{% url "contact" %}">Контакти</a></li>
      {# This is if the parent hasn't sign in to the site #}
      <li class="item"><a class="link" href="{% url "login" %}">Вход</a></li>
      {# This is if the parent has signed in to the site #}
      <li class="item"><a class="link" href="#">Родител</a></li>
    </ul>
  </div>

</nav>