{% extends "common/base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "styles/common/index.css" %}">
{% endblock %}

{% block title %}
  Начало
{% endblock %}

{% block banner %}
	<div class="banner">
    <div class="filter"></div>
    <div class="text-of-banner">
      <h1 class="banner-title">Miss Deni</h1>
      <hr class="banner-divider">
      <p class="banner-quote">Unlock Your World with English</p>
    </div>
    <img class="banner-image" src="{% static "images/banner-image.jpg" %}" alt="banner image">
  </div>
{% endblock %}

{% block content %}
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p><p>Здравейте</p>
  <p>Здравейте</p><p>Здравейте</p>
{% endblock %}
