@import "header.css";

body {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

.about-us-heading {
  width: 50%;
  text-align: center;
  font-size: 2.8rem;
  margin: 50px auto 40px auto;
  padding-bottom: 5px;
  color: #5A3E2B;
  border-bottom: 3px solid #7A5A44;
}

.about-section {
  color: #3B2A1A;
}

.about-item {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  gap: 3rem;
}


.about-item .info {
  width: 30%;
}

.about-item .image {
  width: 300px;
  max-width: 100%;
  position: relative;
}

.about-item:nth-of-type(2) .image {
  order: -1;
}

.about-item .horizontal-image {
  width: 400px;
}


.about-item .image .about-image{
  width: 100%;
  height: auto;
  display: block;
}

.about-item .image .icon{
  position: absolute;
  left: -20px;
  top: -25px;
}

.about-item .info .about-header {
  font-size: 2.2rem;
}

.about-item .info .about-description {
  font-size: 1.2rem;
}

.article-divider {
  width: 80%;
  height: 3px;
  background-color: #1A3B3B;
  border: none;
  margin: 3px 0 9px 0;
}

@media screen and (max-width: 841px) {
  .about-us-heading {
    width: 70%;
  }
}

@media screen and (max-width: 695px) {
  .about-item {
    flex-direction: column;
  }

  .about-item .image,
  .about-item:nth-of-type(2) .image{
    order: 1;
  }

  .about-item .info {
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 583px){
  .about-us-heading {
    width: 90%;
  }
}
