@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

:root {
  --margin-common-value: 0.3rem;
}

.footer-content {
  padding: 2.7rem 0;
  background-color: chocolate;
  color: white;
  width: 100%;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.footer-content .rights-reserved-column .footer-author {
  font-family: sans-serif;
  font-size: 2.5rem;
}

.footer-content .rights-reserved-column .rights-reserved-p {
  font-size: 0.8rem;
  font-family: sans-serif;
}


.footer-content .links-column .links {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.footer-content .links .links .item {
  list-style-type: none;
  margin: calc(var(--margin-common-value) * 2) 0;
}


.footer-content .links-column .link {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.footer-content .links-column .link:hover {
  text-decoration: none;
  color: #1ABC9C;
}

.footer-content .social-media-links .see-also-p {
  margin-bottom: var(--margin-common-value);
}

.footer-content .social-media-links .social-link {
  text-decoration: none;
  margin-right: var(--margin-common-value);
}

.footer-content .social-media-links .social-link .icon {
  color: white;
  transition: color 0.5s;
}

.footer-content .social-media-links .social-link .icon:hover {
  color: #1ABC9C;
}

.footer-content .footer-divider {
  display: none;
}

@media screen and (max-width: 513px) {
  .footer-content {
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .footer-content .footer-divider {
    display: block;
    width: 50%;
  }

}