@import "header.css";

.section {
  padding: 5rem 3rem;
}

.about-overview .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 75%;
  margin: 0 auto;
}

.about-overview .overview-image{
  width: 35%;
  border-radius: 2rem;
}

.about-overview .overview-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.about-overview .overview-content .overview-title{
  font-size: 3.25rem;
}

.about-overview .overview-content .overview-title .highlight{
  color: #594a37;
}

.about-overview .overview-content .overview-description{
  font-size: 1.25rem;
}

.about-overview .overview-content .about-us-link{
  background-color: #C7BDB1;
  padding: 1.25rem 2.5rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #C7BDB1;
  border-radius: 0.25rem;
  transition: all 0.4s ease-in-out;
}

.about-overview .overview-content .about-us-link:hover{
  background-color: #ded3d3;
}

.approach-section .section-header {
  text-align: center;
  margin-bottom: 5rem;
}

.approach-section .section-header .header-title {
  font-size: 3rem;
}

.approach-section .columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.approach-section .columns .approach-column {
  width: 30%;
  text-align: center;
}

.approach-section .columns .approach-column .column-header {
  margin-bottom: 0.6rem;
}

.approach-section .columns .approach-column .column-header .icon{
  margin-bottom: 1.5rem;
  font-size: 5rem;
}

.approach-section .columns .approach-column .column-header .approach-title{
  font-size: 1.5rem;
}

.connect-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.connect-section .connect-header  {
  width: 47%;
  text-align: center;
  margin: 0 auto;
}

.connect-section .connect-header .connect-title{
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.connect-section .connect-header .connect-description{
  font-size: 1.5rem;
  line-height: 160%;
}

.connect-section .connect-links {
  display: flex;
  justify-content: center;
  gap: 2.75rem;
}

.connect-section .connect-links .item {
  font-size: 1.1rem;
}

.connect-section .connect-links .item .link{
  color: inherit;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.connect-section .connect-links .item .link:hover{
  color: #d7a585;
}

