@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
}

nav ul {
  background-color: chocolate;
  text-align: right;
  padding: 10px 20px 10px 0;
  height: 45.5px;
}

nav ul li {
  display: inline-block;
  margin-left: 1.8rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
