@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

.navbar {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: chocolate;
}

.navbar .content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding: 0.5rem  2rem;
  max-width: 93rem;
  margin: 0 auto;
}


.logo {
  width: 80px;
  border-radius: 100%;
  border: 1px solid black;
}

.navbar .links {
  padding: 10px 20px 10px 0;
  display: flex;
  justify-content: flex-end;
  gap: 0 1rem;
}

.navbar .links .item {
  position: relative;
}

.navbar .links .item .link {
  text-decoration: none;
  color: white;
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: color 0.5s ease-in-out;

}

.navbar .links .item .link:hover {
  color: #1ABC9C;
}

.navbar .links .item .link.current {
  border-bottom: 1px solid white;
}

.navbar .menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.navbar .item .dropdown .dropdown-item {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
}

.navbar .item .dropdown{
  background-color: #a95219;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  position: absolute;
  top: 100%;
  left: -100%;
  width: 100%;
  z-index: 999;
  display: none;
  padding: 0.5rem 0;
  min-width: 200px;
  white-space: nowrap;
}

.navbar .item:hover .dropdown{
  display: block;
}

.navbar .item .dropdown .dropdown-link{
  color: white;
  text-decoration: none
}

#logout-form {
  display: none;
}

@media screen and (max-width: 758px){
  .navbar .menu-button {
    display: block;
  }

  .navbar .links {
    display: none;
  }
}
